.members-content{
    background-color: blanchedalmond;
    width: 100%;
    padding-top: 200px;
    width: 80%;
}

.form-container{
    width: 80%;
    margin: auto;
    border: 3px inset #5E0756;
    padding: 30px 10px;
    box-shadow: 1px 1px 5px 3px #D436B2;
}

.title{
    color: #5E0756;
    text-align: center;
    margin-bottom: 20px;
}

.name-surname-mail-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0;
}

.submit-btn{
    display: block;
    padding: 10px 100px;
    margin: 30px auto 0;
    background-color: #5E0756;
    color: white;
    font-size: 20px;
}

.submit-btn:hover{
    background-color: #D436B2;
    cursor: pointer;
    transition: 1s;
}

.table{
    width: 80%;
    margin: 50px auto;
    text-align: center;
    color:#D436B2;
    border: 3px inset #5E0756;
    padding: 30px 10px;
    box-shadow: 1px 1px 5px 3px #D436B2;
}

.table, .table th, .table tr, .table td{
border:1px solid #333;
border-collapse:collapse;
}

.table td, .table th{
padding:10px;
}

.table th{
background:rgb(226, 157, 223);
}

.table tbody:nth-of-type(2n+1) tr{
background:rgb(226, 157, 223);
}